= form_for( @trip, :html => { :multipart => true } ) do |f|
  - if @trip.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@trip.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @trip.errors.full_messages.each do |msg|
        %li= msg
  %table
    %tr
      %th= f.label :location
      %td= f.text_field :location
    %tr
      %th= f.label :favorite
      %td= f.radio_button :favorite, true
    %tr
      %th= f.label :photo
      %td=f.file_field :photo
    %tr
      %th= f.label :description
      %td= f.text_area :description

  .actions
    = f.submit
    = submit_tag "Cancel", :onClick => "history.back();return false;"
