.polaroid
  = image_tag @trip.photo.url(:medium)
  %br
  = @trip.location
#description
  - if logged_in?
    .toolbar  
      = link_to( t('Edit This Picture'), edit_trip_path(@trip) )
      = ' | '
      = link_to( t('Delete This Picture'), trip_path(@trip), :method => :delete, :confirm => "Are you sure?" )  
  %p= @trip.description
.clear
