%p
  = link_to t('All Pictures'), trips_path
  = link_to t('Edit This Picture'), edit_trip_path(@trip)

%div.polaroid
  = image_tag @trip.photo.url(:medium)
  %br
  = @trip.location
= @trip.description
