!!!
%html
  %head
    %title Stanley's Summer Trips
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = auto_discovery_link_tag :rss, "#{rss_path}.xml"
    = csrf_meta_tag
  %body
    #page_top &nbsp;
    #container
      #header
        #speach_bubble
          %div{ :class => 'triangle-border right' }
            Be sure to check out my 
            =link_to 'favorite pictures', favorites_path
        %a{ :href => trips_path }
          =image_tag 'stan_medium.png'
          =image_tag 'title.png'
        .clear
      #content
        = yield
    #footer 
      An 
      =link_to 'edbotz', 'http://edbotz.us'
      creation ~ Source code on 
      =link_to 'github', 'https://github.com/ebot/stanley'
