!!!
%html
  %head
    %title Stanley's Summer Trips
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Architects+Daughter'
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = auto_discovery_link_tag :rss, "#{rss_path}.xml"
    = csrf_meta_tag
  %body
    #page_top &nbsp;
    #container
      #header
        %div{ :class => 'triangle-border right' }
          Be sure to check out my 
          =link_to 'favorite pictures', favorites_path
        %a{ :href => trips_path }
          =image_tag 'stan_medium.png'
          =image_tag 'title.png'
        .clear
      #content
        = yield
      #footer 
        Copyright #{DateTime.now.strftime('%Y')} 
        =link_to 'edbotz.us', 'http://edbotz.us'
